# Build metadata
IMAGE_TAG=dev
IMAGE_COMMIT=local

# App
APP_PORT=27507
AUTH_SECRET=change-me
DB_URL=postgres://admin:admin@postgres:5432/admin?sslmode=disable
REDIS_URL=redis://redis:6379/0

# Postgres
POSTGRES_DB=admin
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379
